body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Box {
}

.User {
  width: 350px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.User-photo {
  width: 80px;
  transform: translate(-20px, 80px);
}
.User-title {
  font-size: 20px;
  color: grey;
  transform: translateX(60px);
}
.User-date {
  transform: translateX(60px);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
}

.User-text {
  font-size: 16px;
  color: grey;
}

.User-icon {
  color: red;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

.User-likes {
  display: flex;
  flex-direction: row;
  transform: translate(270px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
