.container1 {
  width: 500px;
  height: 500px;
  background-color: blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.item {
  box-sizing: border-box;
  background-color: blueviolet;
  border: brown solid;
}

.container2 {
  width: 500px;
  height: 500px;
  background-color: blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.item {
  box-sizing: border-box;
  background-color: blueviolet;
  border: brown solid;
}
